/* import fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common style or utilities */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F1F3FF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #FFFFFF;
    width: 870px;
    padding: 40px 30px;
    margin-top: 25px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-top: 30px;
    margin-bottom: 25px;
}

/* -----------------------
    top players styles 
-------------------------- */
.section-title {
    margin-top: 0;
    color: lightskyblue;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-name {
    margin-left: 16px;
    font-size: 18px;
}

/* ---------------------
    top blogs styles 
------------------------ */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.blog {
    display: flex;
}

.blog .thumbnail img {
    width: 177px;
    height: 117px;
}

.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
}

.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}

.blog-author a {
    text-decoration: none;
    color: lightskyblue;
    font-size: 16px;
}

/* -------------------
    Latest Courses 
---------------------- */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 14px;
}

.course {
    width: 230px;
    margin-bottom: 15px;
}

.course .course-banner img {
    width: 224px;
    height: 104px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-star {
    font-size: 12px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #858072;
}

.course-duration {
    background-color: lightpink;
    border-radius: 20px;
    color: deeppink;
    padding: 5px 10px;
}

/* ------------------
    Media Queries
--------------------- */

/* Tabs or Pads */
@media only screen and (min-width: 689px) and (max-width: 995px) {
    .container {
        width: 100%;
    }

    .players, .courses {
        grid-template-columns: repeat(2, 1fr);
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Mobile Devices */

@media only screen and (max-width: 688px) {
    .container {
        width: 100%;
    }

    .players, .blogs, .courses {
        grid-template-columns: repeat(1, 1fr);
    }

    .player, .blog {
        flex-direction: column;
        justify-content: center;
    }
}